/* .tbc_headline {
  text-align: center;
  font-size: 25px;
  padding-top: 0px;
  border: 2px solid black;
} */

.tbc_card {
}

h1 {
  padding-top: 0px;
}

/* .border_box {
  border: 2px solid black;
} */
