.tbc_headline {
  text-align: left;
  font-weight: 100;
  border-bottom: 1px solid rgb(83, 83, 83);
}

.tbc_card {
}

h1 {
  padding-top: 0px;
  font-weight: 100;
}

/* .border_box {
  border: 2px solid black;
} */
