.tbc_headline {
  text-align: left;
  font-weight: 100;
  margin: 2%;
}

/* .tbc_card {
} */

h1 {
  padding-top: 0px;
  font-weight: 100;
}

/* .border_box {
  border: 2px solid black;
} */

.tbc_cohort_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.list_headline {
  position: absolute;
  top: 0;
}
