.title_line {
  text-align: left;
  font-weight: 200;
  border-bottom: 1px solid rgb(83, 83, 83);
}

.NC_Box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  font-weight: 100;
}

.NC_Box button{
  margin-right: 10vw;
}

.NC_Box h2 {
  font-weight: 100;
}

.NC_Box input {
  height: 30px;
  margin-bottom: 20px;
}

.NC_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding-top: 10%;
}

.NC_rows {
  display: flex;
  flex-direction: row;
}
