.nb_navbar {
  background-color: #f2f2f2;
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  width: 149px;
}

.nb_navbar img {
  background-color: #333;
  height: 17%;
  width: 100%;
}

.nb_links {
  display: flex;
  text-decoration: none;
  color: #333;
  font-weight: bolder;
  justify-content: flex-start;
}

.link_text:hover {
  background-color: rgba(51, 51, 51, 0.205);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  width: 90%;
  height: 6vh;
}

.nb_links p {
  margin-left: 10%;
}

.nb_cohorts {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
