.dash_with_task {
  display: flex;
  width: 60vw;
  margin-left: 10vw;
}

.dash_main_task {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 55vw;
  flex-wrap: nowrap;
  margin: 2vw;
}

.dash_main {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80vw;
  flex-wrap: nowrap;
  margin: 2vw;
  margin-left: 15vw;
}
