.schedule {
    width: 60vw;
    margin-left: 20vw;
}

.cohort_schedule_outline{
    text-align: left;
  font-weight: 100;
  border-bottom: 1px solid rgb(83, 83, 83);
  position: fixed;
  background-color: #ffffff;
  width: 61vw;
}

.cohort_task_list{
    margin-top: 10vh;
    height: 85vh;
    overflow: scroll;
}