.schedule {
  width: 75vw;
  margin-left: 10vw;
}

.cohort_schedule_outline {
  text-align: left;
  font-weight: 100;
  border-bottom: 1px solid rgb(83, 83, 83);
  position: fixed;
  background-color: #ffffff;
  width: 72vw;
}

.cohort_task_list {
  margin-top: 10vh;
  height: 85vh;
  overflow-y: scroll;
}
